@color-footer:#6C6E76; //variable 


html{
  position: relative;
  min-height: 100%;
  
    body{
      margin-bottom: 60px;

      .btn-group{

      }

      .navbar{
        background-color:black;
        color:white;
      }



}

  }



